:root{
    --cor0: #000;
    --cor1: #fff;
    --cor2: #FF6000;
    --cor3: #F24405;
    --cor4: #F8F7F3;
    --cor5: #262525;
    --cor6: #00ff00;
    --cor7: #DEDEDE;
}

html{
    scroll-behavior: smooth;
}
.sobreposicao{
    z-index: 1;
}
.bg-black{
    background: var(--cor0)
}
.bg-white-2{
    background: var(--cor7)
}
.bg-dark-grey{
    background: var(--cor5)
}
.txt-white{
    color: var(--cor1)
}
.txt-black{
    color: var(--cor0)
}
.txt-oranje{
    color: var(--cor3)
}
.txt-oranje-2{
    color: var(--cor2)
}
.txt-green{
    color: var(--cor6)
}

.nav-link {
    color: #fff;
}

.nav-link:hover,
.nav-link:focus {
    color: #ff6000;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #ff6000;
    --bs-nav-pills-link-active-bg: none;
}
.bg-gardient-black{
    background: linear-gradient #000, #fff;
  background-attachment: fixed;
}
.spacer-lg{
    margin-buttom: 100rem; /* Altere o valor conforme necessário */
}
.border-secondary{
    color: var(--cor2)
}
ul {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0;
    margin: 0;
}