:root{
    --cor0: #000;
    --cor1: #fff;
    --cor2: #FF6000;
    --cor3: #F24405;
    --cor4: #F8F7F3;
    --cor5: #262525;
}

html {
    scroll-behavior: smooth;
}
.bg-black{
    background: var(--cor0)
}
.bg-dark-grey{
    background: var(--cor5)
}
.txt-white{
    color: var(--cor1)
}
.txt-oranje{
    color: var(--cor3)
}

.nav-link {
    color: #fff;
}

.nav-link:hover,
.nav-link:focus {
    color: #ff6000;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #ff6000;
    --bs-nav-pills-link-active-bg: none;
}