:root{
    --cor0: #000;
    --cor1: #fff;
    --cor2: #FF6000;
    --cor3: #F24405;
    --cor4: #F8F7F3;
    --cor5: #262525;
    --cor6: #00ff00;
    --cor7: #DEDEDE;
}

html{
    scroll-behavior: smooth;
}
.sobreposicao{
    z-index: 8;
}
.superosicao{
    z-index: 10;
}
.bg-black{
    background: var(--cor0)
}
.bg-white-2{
    background: var(--cor7)
}
.bg-dark-grey{
    background: var(--cor5)
}
.txt-white{
    color: var(--cor1)
}
.txt-black{
    color: var(--cor0);
}
.txt-oranje{
    color: var(--cor3) !important;
}
.txt-oranje-2{
    color: var(--cor2) !important;
}
.txt-green{
    color: var(--cor6)
}

.nav-link {
    color: #fff;
}
.nav-link.active{
    color: #ff6000 !important;
}

.nav-link:hover,
.nav-link:focus {
    color: #ff6000 !important;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #ff6000;
    --bs-nav-pills-link-active-bg: none;
}
.bg-gardient-black{
    background: linear-gradient #000, #fff;
  background-attachment: fixed;
}
.spacer-lg{
    margin-buttom: 100rem; /* Altere o valor conforme necessário */
}
.border-secondary{
    color: var(--cor2)
}
ul {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0;
    margin: 0;
}
.m-g{
        margin-top: 7rem !important;
        margin-bottom: 15rem !important;
}
.fz{
    font-size: 10px;
}
.fz-20{
    font-size:18px;
}

.ms-11 {
    margin-left: 11.3rem !important;
}
.mt-7 {
    margin-top: .7rem !important;
}
.lupa {
    top: 1.8rem !important;
    right: 10.5rem;
}
.lupa-cell{
    top: 1.8rem !important;
    right: 5.5rem;
}
.mt-10 {
    margin-top: 10rem !important;
}
.mt-5-5{
    margin-top: 5.5rem !important;
}
.mt-7 {
    margin-top: 7rem !important;
}
.mt-6{
    margin-top: 6rem !important;
}


.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #ff6000;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #F24405 !important;
}
.border-orange{
    color: #ff6000 !important;
}
.page-link{
    color: #ff6000 !important;
    background-color: #000 !important;
}